[submodule "emacs"]
	url = https://github.com/mallchad/cemacs
[submodule "sweet_home"]
	url = github.com/mallchad/sweet_home
[submodule "cemacs"]
	path = cemacs
	url = https://github.com/mallchad/cemacs/
